---
---

@import "{{ site.theme }}";

@font-face {
	font-family: "Until 25";
	font-style: italic;
	src: url("../fonts/Until25-Italic.otf") format("opentype");
}

h1#until-25 {
	background-color: #141414;
	color: whitesmoke;
	font: italic normal 3rem / 1 "Until 25", monospace;
	padding: calc((100px - 3rem) / 2) 0;
	text-align: center;
}
